<div class="container-fluid page px-0">
  <div class="home-background" style="background: url('../../assets/img/home-background.jpg') center no-repeat;background-size: cover;">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 my-5">
          <div class="row justify-content-center h-100">
            <h1 class="search-city text-center col-12 align-self-end">Votre profil</h1>
            <mat-card class="example-card col-12 col-md-8">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Jonathan Rodrigues</mat-card-title>
                <mat-card-subtitle>Super Administrateur</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <div class="row">
                  <h4 class="col-12 mb-3">Informations personnelles</h4>
                </div>
              <mat-list>
                <mat-list-item>
                  Pseudo : Histouche
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                  Date de création de compte : 02 Mai 2018
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                  Pseudo : Histouche
                </mat-list-item>
                <mat-divider></mat-divider>
              </mat-list>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button class="text-uppercase font-weight-bold">Modifier mon profil</button>
                <button mat-button class="text-uppercase font-weight-bold">Suppression de mon compte</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
