<form class="container-fluid page px-0" id="search">
  <div class="home-background">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12">
          <div class="row h-100">
            <h1 class="search-city text-center col-12 align-self-end">Hôtels à Bordeaux</h1>
          </div>
        </div>
        <div class="home-form col-auto">
          <div class="row m-0 justify-content-center">
            <input class="col-11 col-md-6 mb-3 input-search" placeholder="Ex : Bordeaux" [(ngModel)]="query" id="search-input" name="name">
            <button mat-button id="btn" [routerLink]="'/liste-annonce'" class="col-auto" id="btn"><span>Trouver mon hôtel</span></button>
          </div>
          <div class="row m-0 justify-content-center">
            <div class="col-auto depart-retour-fields">
              <div class="row m-0 justify-content-center">
                <!--<div class="col-auto px-1">
                  <mat-form-field>
                    <input matInput [matDatepicker]="pickerS" placeholder="Date de départ">
                    <mat-datepicker-toggle matSuffix [for]="pickerS"></mat-datepicker-toggle>
                    <mat-datepicker #pickerS></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-auto px-1">
                  <mat-form-field>
                    <input matInput [matDatepicker]="pickerA" placeholder="Date d'arrivée">
                    <mat-datepicker-toggle matSuffix [for]="pickerA"></mat-datepicker-toggle>
                    <mat-datepicker #pickerA></mat-datepicker>
                  </mat-form-field>
                </div>-->
                <div class="col-auto mt-3 mt-md-0 px-1">
                  <mat-form-field>
                    <mat-select placeholder="Type de chambre">
                      <mat-option *ngFor="let group of groups" [value]="group.value">
                        {{ group.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container list-annonce mt-3">
      <div class="row">
        <div class="col-md-auto col-12 filtres py-3">
          <div class="row">
            <div class="col-12 d-md-none">
              <div class="row justify-content-end">
                <button mat-button color="primary" class="close-filtres color-w"><mat-icon>close</mat-icon></button>
              </div>
            </div>
            <div class="col-12 filtre-int mb-3 text-uppercase">Filtres</div>
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>Prix</mat-panel-title>
                </mat-expansion-panel-header>
                <section class="example-section col-12 px-0">
                  <div class="row">
                    <mat-form-field class="example-margin col-6">
                      <input matInput type="number" #minV value="0" min="0" placeholder="P. min" [(ngModel)]="min">
                    </mat-form-field>
                    <mat-form-field class="example-margin col-6">
                      <input matInput type="number" #maxV value="250"  placeholder="P. max" [(ngModel)]="max">
                    </mat-form-field>
                  </div>
                </section>
                <mat-slider class="prix-cursor py-0" #prix [thumb-label]="thumbLabel" [max]="maxV.value" [min]="minV.value" step="10" [(ngModel)]="price"></mat-slider>
                <input type="hidden" [value]="prix.value" [(ngModel)]="price" name="prixA">
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>Services</mat-panel-title>
                </mat-expansion-panel-header>
                <div class="col-12">
                  <div class="row">
                    <mat-checkbox class="col-12 px-0">Wi-Fi gratuit</mat-checkbox>
                    <mat-checkbox class="col-12 px-0">Petit dejeuner inclus</mat-checkbox>
                    <mat-checkbox class="col-12 px-0">Piscine</mat-checkbox>
                    <mat-checkbox class="col-12 px-0">Parking gratuit</mat-checkbox>
                    <mat-checkbox class="col-12 px-0">Restaurant</mat-checkbox>
                    <mat-checkbox class="col-12 px-0">Climatisé</mat-checkbox>
                    <mat-checkbox class="col-12 px-0">Animaux autorisés</mat-checkbox>
                    <mat-checkbox class="col-12 px-0">Hôtel non-fumeur</mat-checkbox>
                    <mat-checkbox class="col-12 px-0">Accès handicapé</mat-checkbox>
                  </div>
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>Avis des clients</mat-panel-title>
                </mat-expansion-panel-header>
                <div class="col-12">
                  <div class="row justify-content-between">
                    <div class="col-auto px-0">0</div>
                    <div class="col-auto px-0">10</div>
                    <mat-slider class="prix-cursor py-0" #note [thumb-label]="thumbLabel" (ngModel)="value" min="0" max="10" step="0.5"></mat-slider>
                    <input type="hidden" [value]="note.value" [(ngModel)]="noted" name="noteA">
                  </div>
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>Catégorie</mat-panel-title>
                </mat-expansion-panel-header>
                <div class="col-12">
                  <div class="row justify-content-center">
                    <mat-checkbox class="col-12 px-0">1 étoile</mat-checkbox>
                    <mat-checkbox class="col-12 px-0">2 étoiles</mat-checkbox>
                    <mat-checkbox class="col-12 px-0">3 étoiles</mat-checkbox>
                    <mat-checkbox class="col-12 px-0">4 étoiles</mat-checkbox>
                    <mat-checkbox class="col-12 px-0">5 étoiles</mat-checkbox>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
        <div class="col-12 d-md-none">
          <div class="row justify-content-center">
            <button mat-raised-button color="primary" class="mb-3 affiner-recherche">Affiner la recherche <mat-icon>keyboard_arrow_down</mat-icon></button>
          </div>
        </div>
        <div class="col">
            <div class="row mx-0">
              <div class="col-12 annonce-list-bien mb-2" *ngFor="let annonce of annonceList | searchPipe: query" [routerLink]="'/annonce'">
                  <div class="row mx-0">
                    <div class="col-3 bien-img" [style.background-image]=" annonce.imgMiniature ? 'url('+annonce.imgMiniature+')' : 'url(\'../../assets/img/home-background.jpg\')'" style="background-position:center;background-size: cover;">
                    </div>
                    <div class="col p-3">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="row h-100 justify-content-end">
                            <div class="col-12 text-center prix">
                              {{annonce.prix}} €
                            </div>
                            <div class="col-12 text-center prixAP">
                              {{annonce.prixAP}} €
                            </div>
                            <div class="col-12">
                              <div class="row justify-content-center">
                                <a [routerLink]="" mat-raised-button color="primary" class="offre-btn">Voir l'offre</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-md-8">
                          <div class="row">
                            <div class="col-12 bien-city"><i class="fa fa-map-marker" aria-hidden="true"></i> {{annonce.ville}}</div>
                            <div class="col-12 bien-title">{{annonce.titleAnnonce}}</div>
                            <!--<div class="bien-stars col-12 mb-1">
                              <div class="row m-0">
                                <i class="fa fa-star" aria-hidden="true" *ngIf="annonce.etoile >= 1 "></i>
                                <i class="fa fa-star" aria-hidden="true" *ngIf="annonce.etoile >= 2 "></i>
                                <i class="fa fa-star" aria-hidden="true" *ngIf="annonce.etoile >= 3 "></i>
                                <i class="fa fa-star" aria-hidden="true" *ngIf="annonce.etoile >= 4 "></i>
                                <i class="fa fa-star" aria-hidden="true" *ngIf="annonce.etoile >= 5 "></i>
                              </div>
                            </div>-->
                            <div class="col-12 mb-2">
                              <div class="row m-0">
                                <div class="note col-auto"
                                     [class.note-0]="annonce.note === 0"
                                     [class.note-1]="annonce.note === 1"
                                     [class.note-2]="annonce.note === 2"
                                     [class.note-3]="annonce.note === 3"
                                     [class.note-4]="annonce.note === 4"
                                     [class.note-5]="annonce.note === 5"
                                     [class.note-6]="annonce.note === 6"
                                     [class.note-7]="annonce.note === 7"
                                     [class.note-8]="annonce.note === 8"
                                     [class.note-9]="annonce.note === 9"
                                     [class.note-10]="annonce.note === 10">{{annonce.note}}</div>
                                <div class="col px-2 nb-avis">({{annonce.nbAvis}} avis)</div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
              </div>
            </div>
        </div>
      </div>
  </div>
</form>
