<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
  <div class="container p-0">
    <div class="row">
      <div id="logo" class="col-1"></div>
      <div id="menu_home" [routerLink]="['/']" (click)="select('home')" [class]="selection=='home'? 'select col-auto px-2 cliquable d-none d-lg-block h-link' : 'noselect col-auto px-2 cliquable d-none d-lg-block h-link'">
        <div class="buttn">
          <a [routerLink]="['/']">Accueil</a>
        </div>
      </div>
      <div id="liste-annonce" [routerLink]="['/']" (click)="select('home')" [class]="selection=='home'? 'select col-auto px-2 cliquable d-none d-lg-block h-link' : 'noselect col-auto px-2 cliquable d-none d-lg-block h-link'">
        <div class="buttn">
          <a [routerLink]="['/']">Liste des annonces</a>
        </div>
      </div>
    </div>
  </div>
</div>
