app-site-header{

  .header{
    .user-head{color: #fff;font-size: 24px;cursor: pointer;transition: all linear .2s;}
    button{color: #fff;font-size: 24px;}
    &.scrolled{
      .user-head button{color: #333;}
    }
  }
  button:hover{color: initial !important;}
}
