<div class="container-fluid page px-0">
  <div class="home-background" [style.background-image]=" hotelimg ? 'url('+this.hotelimg+')' : 'url(\'../../assets/img/home-background.jpg\')'" style="background-repeat: no-repeat;background-position: center;background-size: cover;">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12">
          <div class="row h-100">
            <h1 class="search-city text-center col-12 align-self-end">{{annonce.nom}}</h1>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
              <div class="col-12 text-center color-w"> Hôtel Pullman</div>
            <div class="col-12 text-center color-w"><i class="fa fa-map-marker" aria-hidden="true"></i> 1 rue des Lilas, Bordeaux</div>
            <div class="col-12 color-w text-center"><i class="fa fa-arrows" aria-hidden="true"></i> {{annonce.nbmcarre}} m²</div>
            <div class="col-12 color-w text-center"> 3 étoiles</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container annonce-fiche">
    <div class="row">
      <div class="col-12 col-md-7">
        <div class="row m-0">
          <!--Carousel Wrapper-->
          <mdb-carousel [isControls]="true" [animation]="'slide'" class="mt-2 col-12 px-0">
            <mdb-slide *ngIf="annonce.image1" class="row justify-content-center">
              <img class="d-block col-auto" src="http://tripaquit:8000/upload/image/chambre/{{annonce.image1}}" alt="First slide">
            </mdb-slide>
            <mdb-slide *ngIf="annonce.image2" class="row justify-content-center">
                <img class="d-block col-auto" src="http://tripaquit:8000/upload/image/chambre/{{annonce.image2}}" alt="Second slide">
              </mdb-slide>
              <mdb-slide *ngIf="annonce.image3" class="row justify-content-center">
                  <img class="d-block col-auto" src="http://tripaquit:8000/upload/image/chambre/{{annonce.image3}}" alt="Third slide">
                </mdb-slide>
                <mdb-slide *ngIf="annonce.image4" class="row justify-content-center">
                    <img class="d-block col-auto" src="http://tripaquit:8000/upload/image/chambre/{{annonce.image4}}" alt="Fourth slide">
                  </mdb-slide>
          </mdb-carousel>
          <!--/.Carousel Wrapper-->
        </div>
      </div>
      <div class="col-12 col-md-5 p-3 mt-5">
        <div class="row m-0">
          <div class="col-6 px-2">
            <mat-form-field class="col-12 px-0">
              <input type="hidden" mdInput disabled [ngModel]="dateDepart | date:'d-MMM-y'" >
              <input matInput [matDatepicker]="pickerS" [(ngModel)]="dateDepart" placeholder="Date de départ">
              <mat-datepicker-toggle matSuffix [for]="pickerS"></mat-datepicker-toggle>
              <mat-datepicker #pickerS></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-6 px-2">
            <mat-form-field class="col-12 px-0">
              <input matInput [matDatepicker]="pickerA" [(ngModel)]="dateRetour" placeholder="Date d'arrivée">
              <mat-datepicker-toggle matSuffix [for]="pickerA"></mat-datepicker-toggle>
              <mat-datepicker #pickerA></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-12 ">
            <mat-form-field class="col-12 px-2">
              <mat-select placeholder="Type de chambre" [(ngModel)]="typeChambre">
                <mat-option *ngFor="let group of groups" [value]="group.value">
                  {{ group.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-auto prix">
              <span class="a-partir">à partir de </span> {{annoncePrix}} €
          </div>
          <div class="col-12">
            <div class="row justify-content-center">
              <button mat-raised-button color="primary" class="col-auto mb-3" data-toggle="modal" data-target="#modalReservation">
                Réserver
              </button>
            </div>
          </div>
          <small class="col-12 text-center ">Les prix sont fournis par l'hôtel directement</small>
        </div>
      </div>
    </div>
    <div class="row">
      <h2 class="col-12 mt-5 mb-3 s-title-annonce">Informations</h2>
      <div class="col-12 col-md-4">
          <div class="row">
            <!--<h2 class="col-12">Informations</h2>-->
            <div class="col-12 icones-list">
                <i *ngIf="annonce.animal===true" class="fa fa-github-alt" title="animaux autorisés" aria-hidden="true"></i>
                <i *ngIf="annonce.douche===true" class="fa fa-shower" title="douche" aria-hidden="true"></i>
                <i *ngIf="annonce.baignoire===true" class="fa fa-bath" title="baignoire" aria-hidden="true"></i>
                <i class="fa fa-coffee" aria-hidden="true" title="restaurant"></i>
                <i *ngIf="annonce.wifi===true" class="fa fa-wifi" aria-hidden="true" title="wi-fi à l'intérieur"></i>
                <i *ngIf="annonce.tv===true" class="fa fa-television" aria-hidden="true"></i>
                <i *ngIf="annonce.telephone===true" class="fa fa-phone" aria-hidden="true"></i>
            </div>
            <div class="infos">
              <div class="row m-0">
                  <i class="fa fa-phone" aria-hidden="true"></i> Contact : 0123456789
              </div>
            </div>
          </div>
        </div>
      <div class="col-12 col-md-4">
        <div class="row">
          <div class="col-12">
            <div class="row m-0">
              <div class="col-auto note note-8">
                {{hotelNote}}
              </div>
              <div class="col nb-avis">( {{nbAvis}} avis)</div>
            </div>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-12">
                Commentaires
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="col-12 comment">

                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="row justify-content-center">
                  <button class="col-auto mb-3" mat-raised-button color="primary" data-toggle="modal" data-target="#modalComment">Voir tous les commentaires</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-12 col-md-4">
        <div class="row">

        </div>
      </div>
    </div>
  </div>
  <div class="container list-annonce">
    <div class="row">
      <h2 class="col-12">Annonces similaires</h2>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div *ngFor="let annonce of annonceList" class="col-12 col-md-4 p-3">
            <div class="row">
              <div class="col-12 home-bien p-2" [routerLink]="'/annonce'">
                <div class="row h-100 m-0">
                  <div class="col-12 bien-img" style="background: url('https://imgio.trivago.com/itemimages/12/33/12330_v9_isq@2x.jpeg') center no-repeat;background-size: cover;"></div>
                  <div class="offre col-auto">Economisez 15%</div>
                  <div class="col-12 bien-city"><i class="fa fa-map-marker" aria-hidden="true"></i> Bordeaux</div>
                  <div class="col-12 bien-title">Pullman Bordeaux Lac</div>
                  <div class="col-6 bien-infos">
                    <div class="row">
                      <div class="bien-stars col-12 mb-1">
                        <div class="row m-0">
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                      </div>
                      <div class="col-12 mb-2">
                        <div class="row m-0">
                          <div class="note note-8 col-auto">8</div>
                          <div class="col px-2 nb-avis">(5 avis)</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="row">
                      <div class="col-12 bien-prix">
                        <div class="row h-100 justify-content-end">
                          <div class="col-12 text-right">
                            50 €
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="hover-effect"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal Commentaire -->
<div class="modal fade" id="modalComment" tabindex="-1" role="dialog" aria-labelledby="modalComment" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Commentaires</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       Pas de commentaires pour le moment
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary">Ajouter un com.</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Réservation -->
<div class="modal fade" id="modalReservation" tabindex="-1" role="dialog" aria-labelledby="modalReservation" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Réservation pour {{titleAnnonce}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <mdb-carousel [isControls]="true" [interval]="500000" #carouselReservation [animation]="'slide'" class="mt-2 col-12 px-0">
          <mdb-slide class="row justify-content-center">
            <div class="col-12">
              Ces informations sont-elles correctes ?
            </div>
            <div class="col-12 mb-2">
              <strong>Date de départ :</strong> {{dateDepart | date:'dd/MM/yyyy'}}
            </div>
            <div class="col-12 mb-2">
              <strong>Date de retour : </strong>{{dateRetour | date:'dd/MM/yyyy'}}
            </div>
            <div class="col-12 mb-2">
              <strong>Type de chambre :</strong> {{typeChambre}}
            </div>
          </mdb-slide>
          <mdb-slide class="row justify-content-center m-0">
              <div class="app active">
                  <header>
                    <div class="cust-num">
                      <svg height="42" width="42" viewBox="0 0 64 64">
                        <path class="path1" fill="rgb(0, 157, 223)" d="M58.125 19.288c-2.987 13.262-12.212 20.262-26.75 20.262h-4.837l-3.363 21.35h-4.050l-0.212 1.375c-0.137 0.913 0.563 1.725 1.475 1.725h10.35c1.225 0 2.263-0.888 2.462-2.1l0.1-0.525 1.95-12.362 0.125-0.675c0.188-1.212 1.237-2.1 2.462-2.1h1.538c10.025 0 17.875-4.075 20.175-15.85 0.862-4.475 0.538-8.275-1.425-11.1z"></path>
                        <path fill="rgb(0, 46, 135)" class="path2" d="M51.938 4.825c-2.962-3.375-8.325-4.825-15.175-4.825h-19.887c-1.4 0-2.6 1.012-2.813 2.4l-8.287 52.525c-0.162 1.038 0.638 1.975 1.688 1.975h12.287l3.087-19.563-0.1 0.612c0.212-1.388 1.4-2.4 2.8-2.4h5.837c11.462 0 20.438-4.65 23.063-18.125 0.075-0.4 0.15-0.788 0.2-1.163 0.775-4.975 0-8.375-2.7-11.438z"></path>
                      </svg>
                      <p>07-06-2018 <br></p>
                    </div>
                    <div class="cust-info">
                      <h3>Bonjour, Jonathan</h3>
                      <p>Voici votre commande :</p>
                    </div>
                  </header>
                  <div class="mainR">
                    <h3 class="text-center">Informations :</h3>
                    <ul>
                      <li><i>1</i> Chambre {{titleAnnonce}}</li>
                    </ul>
                    <div class="total">
                      <p>Total <span>{{annoncePrix}}</span></p>
                    </div>
                  </div>
                </div>
          </mdb-slide>
          <mdb-slide class="row justify-content-center">
            <div class="col-12">Votre réservation a bien été effectué</div>
          </mdb-slide>
        </mdb-carousel>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="carouselReservation.selectSlide(0)" data-dismiss="modal">Annuler</button>
        <button type="button" (click)="carouselReservation.nextSlide()" class="btn btn-primary">Suivant</button>
      </div>
    </div>
  </div>
</div>
