app-home{
  .home-background{
    height: 100vh;
    width: 100vw;
    background: url('../../assets/img/home-background.jpg') center no-repeat;
    background-size: cover;
    &:before{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0, 0.3);
    }
  }

  .home-form{
    width: 100%;
    mat-form-field{
      padding: 0;
      .mat-form-field-label {color: #0091ea;padding-left: 7px;}
      .mat-form-field-flex{
        background-color: #fff;
      }
      .mat-form-field-infix{padding: 7px;}
    }
    mat-form-field.mat-form-field-should-float{
      .mat-form-field-label {color: #0091ea;left: 0px;}
    }
  }

  #searchbar {
    width: 100%;
    height: 50px;
    background: #0091ea;
    border-radius: 5px;
    border: 3px solid #0091ea;

    input {
      height: 44px;
      font-size: 20px;
      outline: none;
      padding: 10px;
      border: none;
      background: white;
    }
  }
  #btn {
    background: #0091ea;
    height: 44px;
    padding: 10px 15px;
    color: white;
    font-family: "helvetica";
    cursor: pointer;
    text-align: center;
    line-height: 25px;
    font-size: 16px;
  }
  .input-search{
    background-color: rgba(255,255,255,0.2);
    color: #fff;
    padding: 12px 15px;
    border: 2px solid #ccc;
    outline : none;
    transition: all linear 0.2s;
    &:hover {
      //border: 2px solid #0091ea;
      background-color: rgba(255,255,255,1);
      color: #333;
    }
    &::placeholder{color: #fff;transition: all linear 0.2s;}
    &:hover::placeholder{color: #333;}
  }


}
