<div class="container-fluid page px-0">
  <div class="home-background">
    <div class="container h-100">
      <div class="row align-items-center h-100">
        <form class="home-form col-auto">
          <div class="row m-0 justify-content-center">
            <input class="col-12 col-md-8 mb-3 input-search" placeholder="Ex : Bordeaux">
          </div>
          <div class="row justify-content-center">
            <button mat-button id="btn" [routerLink]="'/liste-annonce'" class="col-auto" id="btn">Trouver mon hôtel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid last-annonces py-5">
  <div class="container">
    <h2>Nos dernières annonces</h2>
    <div class="row">
      <div class="col-12">

      </div>
    </div>
  </div>
</div>
